<div class="page-union-search">
    <div class="app-header">
        <div class="app-header-container">
            <mam-logo></mam-logo>
            <mam-top-nav></mam-top-nav>
            <mam-user-info></mam-user-info>
        </div>
    </div>

    <form class="search-form">
        <ul class="search-site-tabs">
            <li ng-repeat="item in tabs" ng-class="{'active' : item == tabs[currentIndex]}">
                <a ng-click="changeSiteTab($index)">{{ item.name }}</a>
            </li>
        </ul>
        <div class="search-input">
            <mam-search-input search="query()" keywords="keyword" use-history="true" placeholder="请输入你要搜索的内容"></mam-search-input>
            <div class="remove-keyword" title="清空" ng-click="keyword = ''" ng-show="keyword">
                <i class="fa fa-times"></i>
            </div>
            <button type="button" ng-click="query()">
                <i class="fa fa-search"></i>
                <span>检索</span>
            </button>
        </div>
    </form>

    <div class="site-wrap">

        <iframe ng-repeat="item in iframes" ng-src="{{item}}" frameborder="0" 
        ng-class="{'active' : $index == currentIndex}" class="{{'site-' + tabs[$index].name}}"></iframe>

    </div>
</div>